body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.top-section {

    background-image: url(images/donation13.jpg);
    background-color: rgba(0, 0, 0, 0.411);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.Heading {
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 80px;

}

.Heading p {
    font-size: 17px;
}

.Donate-Now-Button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgba(255, 0, 0, 0.685));
    color: white;
    padding: 7px;
    border-radius: 5px;
    position: center;
}

.donation-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 100px;
    font-size: 20px;
}

h3 {
    margin: 5px;
    padding: 20px 20px;
    background: rgba(128, 128, 128, 0.152);
}

#selected-amount {
    color: red;
    background-color: rgba(250, 128, 114, 0.344);
}

#please-donate h2 {
    padding-top: 30px;
    text-align: center;
    color: black;
    font-size: 27px;
    font-style: bold;
}

#please-donate p {
    text-align: center;

}

#custom-amount input {
    padding-top: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 40%;

}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

.plan {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Donation-plan {
    display: flex;
    font-size: 16px;
}

#food-for-family {
    background-image: url(images/salad.png);
    background-size: 18%;
    background-repeat: no-repeat;
    padding: 5%;
    border: 5%;
    margin: 2%;
    background-color: rgba(255, 228, 196, 0.37);
}

#Shelter-For-Family {
    background-image: url(images/home.png);
    background-size: 18%;
    background-repeat: no-repeat;
    padding: 5%;
    border: 5%;
    margin: 2%;
    background-color: rgba(255, 203, 196, 0.473);

}

#Sponsorship-for-Education {
    background-image: url(images/education.png);
    background-repeat: no-repeat;
    background-size: 18%;
    padding: 5%;
    border: 2%;
    margin: 2%;
    background-color: rgba(0, 255, 255, 0.164);

}

.subscribe {
    text-align: center;
    padding: 5%;
    font-size: 16px;
    background-color: rgba(95, 158, 160, 0.363);
    margin: 10% 25%;

}

.footer-copyright {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: rgb(221, 63, 63);
    padding-top: 5%;
    margin-top: 10%;
    background-color: black;
}